	<footer>
		<div class="custom">
			<p><img src="../assets/images/logo-footer.png" alt=""></p>
			<p></p>
			<div class="copy">
				<div class="">
					<p>Sản phẩm được hợp tác phát hành bởi</p>
					<p>Công ty TNHH Dịch vụ Phần mềm Bình Minh và Công ty Cổ phần Giải trí và Thể thao điện tử Việt Nam.</p>
					<p>Văn phòng đại diện: Tầng 1, tòa nhà Machinco, số 444, đường Hoàng hoa Thám, phường Thụy Khuê, Quận Tây Hồ, Hà Nội.</p>
					<p class="clearfix cs-tf"><span class="aleft">Điện thoại: (04)7305-3939</span><span class="aright">Fax: (04)3759-2429</span></p>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
	</footer>