<div class="row">
    <a class="app-icon" href="" ><span>App-Icon</span></a>
    <a class="app-title" href="" >
        <span class="">Thiên hạ</span>
    <span>Garena Online Private Ltd</span>
    </a>
    <a href="{{ videoLink }}" class="popup-youtube">
        video
    </a>
    <div class="android">
        <a href="{{ googleLink }}" class="gplay" >
            <img src="../../assets/images/app-gplay.png" alt="">
        </a>
        <a href="{{ apkLink }}" class="apk" target="_blank">
            <img src="../../assets/images/app-apk.png" alt="">
        </a>
    </div>
    <div class="ios">
        <a href="{{ appleLink }}" class="appstore" >
            <img src="../../assets/images/app-store.png" alt="">
        </a>
    </div>
    <a href="{{ facebookLink }}" class="app-fb">
        <span> Facebook
        </span>
    </a>
    <a href="{{ payLink }}" class="app-nap" >
        <span> Nap
        </span>
    </a>
</div>
