
<div>
	<span><a href="{{ gplusLink}}" target="_blank">Choi tren GarenaPlus</a></span>
	<span><a href="#" target="_blank">Code</a></span>
	<span><a href="{{ appleLink }}" target="_blank">AppStore</a></span>
	<span><a href="{{ googleLink }}" target="_blank">Download Google Play</a></span>
	<span><a href="{{ apkLink }}" target="_blank">Download apk</a></span>
	<!-- <span><a class="popup-download-apk" href="#popup-download-apk">Open form</a></span> -->

	
	<span><a href="{{ payLink }}" target="_blank">Nap</a></span>
	<span><a href="{{ videoLink }}"  class="popup-youtube">Videone</a></span>
</div>

