<ul class="th-sidebar">
	<li><a href="{{ gplusLink }}">Play on Garena Plus</a></li>
    <li><a href="{{ appleLink }}" >App store</a></li>
    <li><a href="{{ googleLink }}" >Google Play</a></li>
   <!--  <li><a href="{{ apkLink }}" target="_blank">APK</a></li> -->
     <li><a class="popup-download-apk" href="#popup-download-apk">Open form</a></li>
    <li><a href="{{ payLink }}" >Nap</a></li>
    <li><a href="{{ facebookLink }}" >FB</a></li>
</ul>

<div id="popup-download-apk"  class="zoom-anim-dialog mfp-hide">
  Sắp ra mắt
  
</div>