<div class="row col-lg-12 th-lgChar">
  <img src="../../assets/images/char1-min.png" alt="">
</div>
<div class="row th-download">
  <div class="th-download-desktop desktop">
    <th-downloads-desktop></th-downloads-desktop>
  </div>
  <div class="th-download-mobile mobile">
    <th-downloads-mobile></th-downloads-mobile>
  </div>
  <div class="th-download-tablet tablet">
    <th-downloads-tablet></th-downloads-tablet>
  </div>
</div>

<div id="popup-download-apk"  class="zoom-anim-dialog mfp-hide">
  Sắp ra mắt
  
</div>