<div class="row download-mb">
  <div class="col-xs-3">
    <a href="#" >
      <span>
        <img src="../../assets/images/app-icon.png" alt="">
      </span>
    </a>
  </div>
  <div class="col-xs-6 download-title">
    <span class="">Thiên hạ</span>
    <span>Garena Online Private Ltd</span>
    <!-- <span>
      <img src="../../assets/images/app-title.png" alt="">
    </span> -->
  </div>
  <div class="col-xs-3 download-title">
    <span class="trailer">
      <a href="{{ videoLink }}" class="popup-youtube">
        <img src="../../assets/images/trailer.png" alt="">
      </a>
    </span>
  </div>
</div>
<div class="row social-icons ios">
  <div class="col-xs-12">
    <a href="{{ appleLink }}" >
      <span>
        <img src="../../assets/images/app-store.png" alt="">
      </span>
    </a>
    <a href="{{ payLink }}" >
      <span>
        <img src="../../assets/images/app-nap.png" alt="">
      </span>
    </a>
    <a href="{{ facebookLink }}" >
      <span>
        <img src="../../assets/images/app-fb.png" alt="">
      </span>
    </a>
  </div>
</div>
<div class="row social-icons android">
  <div class="col-xs-12">
    <a href="{{ googleLink }}">
      <span>
        <img src="../../assets/images/app-gplay.png" alt="">
      </span>
    </a>
  <!--   <a href="{{ apkLink }}" target="_blank">
      <span>
        <img src="../../assets/images/app-apk.png" alt="">
      </span>
    </a> -->
    <a href="{{ payLink }}" >
      <span>
        <img src="../../assets/images/app-nap.png" alt="">
      </span>
    </a>
    <a href="{{ facebookLink }}" >
      <span>
        <img src="../../assets/images/app-fb.png" alt="">
      </span>
    </a>
  </div>
</div>
